= simple_form_for @dashboard, url: url_for(action: 'update', controller: 'dashboards'), method: 'patch' do |f|
  = f.input :meditated
  = f.input :weight
  = f.input :had_sex
  = f.input :climbed
  = f.input :stretched
  = f.input :mood
  = f.input :slept
  = f.button :submit